/* ------fonts------ */

@font-face {
  font-family: 'latin_modern_roman10_regular';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/lmroman10-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'latin_modern_roman10_italic';
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/lmroman10-italic-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Inter-ExtraLight.woff?v=3.19) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff?v=3.19) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Inter-ExtraBold.woff?v=3.19) format("woff");
}

/* ------variables------ */

/* Change colors and font-family in this section */
/* clr = color */
/* bg = background */
/* btn = button */
/* ff = font family */
/* acc = accent */

:root {
  --clr-bg-primary: #f5f5f5;
  --clr-bg-secondary: #333;
  --clr-btn-primary: #007161;
  --clr-acc-primary: #e1eeed;
  --clr-acc-secondary: #007161;
  --clr-form: #ffffff;

  --ff-sans-serif: "Inter", sans-serif;
  --ff-serif: "latin_modern_roman10_regular";

  --bg-image: url(../img/banner.jpg);
}

/* ------border box------ */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ------global------ */

html {
  box-sizing: border-box;
  font-family: var(--ff-sans-serif);
  color: var(--clr-bg-secondary);
  background-color: var(--clr-bg-primary);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
}

/* ------images------ */

img {
  display: block;
  max-width: 100%;
}

.participation_svg {
  max-height: 12em;
  margin: 0em 2em 0.5em 2em;
}

.svg-path-fill {
  fill: var(--clr-bg-secondary)
}

.svg-path-stroke {
  stroke: var(--clr-bg-secondary)
}

.logos_img {
  max-height: 7em;
  padding: 1em 2vw;
}

.social_svg {
  height: 2.5em;
  margin: 0 0.5em;
  fill: var(--clr-bg-primary)
}

/* ------section paddings------ */

section {
  padding: 4em 0;
}

.call-to-participation {
  padding: 4em 0 0 0;
}

/* ------typography------ */

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0 2vw;
}

h1,
h2,
h4,
h5 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2,
h4,
strong {
  font-weight: 400;
}

h3, p {
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 0.2em;
}

h3 {
  margin-bottom: 2em;
}

p,
.participation-title {
  margin-bottom: 0.85em;
}

p {
  font-family: var(--ff-serif);
}

p:last-child {
  margin-bottom: 0;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  margin: 0.8em 0 0.3em 0;
}

.text-highlight {
  color: var(--clr-acc-secondary);
}

.section-special-subtitle {
  font-size: 1.5rem;
}

.section-special-subtitle small {
  font-size: 0.6em;
}

/* ------vertically centered headlines------ */

.center-vertically {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-content: center;
}

/* ------navigation------ */

nav {
  width: 100%;
  text-align: left;
  transform: scale( 1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in-out 100ms;
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1em 10% 1em 10%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.header-home nav a {
  color: var(--clr-bg-primary);
}
.header-else nav a {
  color: var(--clr-bg-secondary);
}

nav a:hover {
  background: var(--clr-acc-secondary);
}

.nav-toggle {
  display: none;
}

.nav-toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 0 16px 0;
  margin-right: 10%;
  cursor: pointer;
  z-index: 12;
}

.nav-toggle-btn span {
  display: block;
  margin: 7px 0 7px 7px;
  height: 3px;
  width: 2em;
  top: 0;
  border-radius: 3px;
  position: relative;
  transition: transform 400ms ease-in-out, top 400ms ease-in-out;
}

.header-home .nav-toggle-btn span {
  background: var(--clr-bg-primary);
}

.header-else .nav-toggle-btn span {
  background: var(--clr-bg-secondary);
}

.nav-toggle:checked ~ .bg-temporary {
  opacity: 100;
  transition: 0ms opacity 0ms;
}

.nav-toggle:checked ~ nav {
  transform: scale( 1, 1)
}

.nav-toggle:checked ~ nav a {
  opacity: 100;
  transition: opacity 300ms ease-in-out 300ms;
}

.nav-toggle:checked ~ .nav-toggle-btn span:first-child {
  transform: rotate(135deg);
  top: 10px;
}

.nav-toggle:checked ~ .nav-toggle-btn span:last-child {
  transform: rotate(225deg);
  top: -10px;
}

.nav-toggle:checked ~ .nav-toggle-btn span:nth-child(2) {
  transform: rotate(135deg);
}


/* ------buttons------ */

.btn {
  color: var(--clr-bg-secondary);
  text-decoration: none;
}

.btn-text {
  padding: .6em 2em;
  border-radius: .4em;
  display: inline-block;
}

.btn-primary {
  color: var(--clr-bg-primary);
  background: var(--clr-btn-primary);
  border: .15em solid var(--clr-btn-primary);
}

.btn-scroll {
  background: var(--clr-btn-primary);
  height: 2.8em;
  width: 2.8em;
  border-radius: 2.8em;
  position: absolute;
  bottom: 8vh;
}

.btn-scroll-down {
  transform: translate(-50%, -50%);
}

.btn-scroll-up {
  right: 2%;
  position: absolute;
  display: none;
}

.btn-scroll::before {
  content: '';
  position: absolute;
  height: 1em;
  width: 1em;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-scroll-down::before {
  top: 1.1em;
  border-bottom: 0.15em solid;
  border-right: 0.15em solid;
}

.btn-scroll-up::before {
  top: 1.6em;
  border-top: 0.15em solid;
  border-left: 0.15em solid;
}


/* ---------------------------------------- */
/* ------chronological document order------ */
/* ---------------------------------------- */

/* ------header------ */

.header-home,
.header-else {
  position: fixed;
  width: 100%;
  height: 5em;
  z-index: 12;
}

.header-bg {
  position: fixed;
  height: 5em;
  width: 100%;
  z-index: 10;
  top: 0;
  box-shadow: 0px 5px 10px 0 rgba( 0, 0, 0, 0.3);
}

.bg-secondary {
  background: var(--clr-bg-secondary);
}

.bg-primary {
  background: var(--clr-bg-primary);
}

.bg-temporary {
  opacity: 0;
  transition: 500ms opacity 700ms;
}

.header-logo{
  position: relative;
  height: 5em;
  z-index: 12;
  margin-left: 10%;
  padding: 0.5em 0 0.5em 0;
}

/* ------intro------ */

.intro {
  background-color: var(--clr-bg-secondary);
  background-image: var(--bg-image);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: var(--clr-bg-primary);
  height: 100vh;
  z-index: 11;
}

.about-us_conception {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-us a {
  color: var(--clr-acc-secondary);
}

/* ------map shwocase------ */

.map-showcase {
  background: var(--clr-form);
}

.map-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  justify-items: center;
  align-content: center;
  grid-gap: 3vw 3vw;
}

.map-link {
  position: relative;
  max-width: 28em;
}

.map-title {
  color: var(--clr-bg-secondary);
}

/* ------call-to-participation------ */

.call-to-participation {
  background: var(--clr-acc-primary);
}

.participation-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.participation-tool {
  position: relative;
  margin: 0 3% 7em 3%;
  max-width: 20em;
}

.participation-tool .btn {
  position: absolute;
  bottom: -3em;
  transform: translate( -50%, 0);
}
/* ------contributors------ */

.contributors {
  background: var(--clr-form);
  padding-bottom: 9em;
  position: relative;
}

.contributor-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* ------footer------ */

footer {
  background: var(--clr-bg-secondary);
  color: var(--clr-bg-primary);
  padding: 1.5em;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer a {
  text-decoration: none;
  display: block;
  color: var(--clr-bg-primary);
  margin-bottom: 0.3em;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav {
  display: none;
}

/* ------exlusivly non index.html------ */

.downloads {
  background: var(--clr-form);
}

iframe {
  visibility: hidden;
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

iframe:target {
  visibility: visible;
}

.map_selection {
  display: none;
}

.downloads,
.map {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 5em;
  width: 100vw;
  bottom: 0.2em;
}


/* ---------------------------------------- */
/* ------chronological document order------ */
/* ---------------------------------------- */

@media screen and (min-width: 710px) {
  .map-links {
    padding: 0 10%;
  }
}

@media screen and (min-width: 800px) {

  .about-us_conception {
    flex-direction: row;
  }

  .about-us_intro,
  .about-us_body {
    flex: 0 1 50%;
    display: flex;
    padding-top: 1em;
    flex-direction: column;
    justify-content: center;
  }

  .about-us_intro {
    text-align: right;
    max-width: 50rem;
    margin-left: auto;
  }

  .about-us_body {
    text-align: left;
    max-width: 50rem;
    margin-right: auto;
  }
}

@media screen and (min-width: 1020px) {

/* ------images------ */

  .social_svg {
    margin-left: 0;
  }

/* ------section paddings------ */

  .downloads,
  .map {
    top: 9em;
  }

/* ------typography------ */

  h1 {
    font-size: 5rem;
  }

/* ------navigation------ */

  nav {
    all: unset;
  }

  nav a {
    opacity: 100;
    flex: 1;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    padding: 0.3em 1em;
  }

  nav ul li::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background: var(--clr-btn-primary);
    transition: width 0.5s;
  }

  nav ul li:hover::after {
    width: 100%;
  }

  nav a:hover {
  background: none;
  }

/* ------buttons------ */

  .btn-scroll-up {
    display: inline-block;
  }

  .btn-primary:hover {
    color: var(--clr-bg-secondary);
    background: none;
  }

  .btn-scroll-down:hover::before {
    border-bottom: 0.2em solid var(--clr-bg-primary);
    border-right: 0.2em solid var(--clr-bg-primary);
  }

  .btn-scroll-up:hover::before {
    border-top: 0.2em solid var(--clr-bg-primary);
    border-left: 0.2em solid var(--clr-bg-primary);
  }


/* ---------------------------------------- */
/* ------chronological document order------ */
/* ---------------------------------------- */

/* ------header------ */

  .header-home,
  .header-else {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    height: 9em;
  }

  .header-home {
    position: absolute;
  }

  .header-else {
    position: relative;
  }

  .header-bg,
  .bg-temporary,
  .nav-toggle-btn {
    display: none;
  }

  .bg-secondary {
    background: none;
  }

/* ------footer------ */

  .footer-nav {
    display: inline-block;
    margin-right: 2em;
    text-align: right;
  }

  .footer-social {
    margin-left: 2em;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer h5 {
    text-align: left;
  }

  .social-icons {
    justify-content: left;
  }

/* ------exlusivly non index.html------ */

  .map_selection {
      display: block;
      position: relative;
      z-index: 20;
      list-style: none;
      background: var(--clr-bg-primary);
      transform: translate(0, -150%);
  }
  
  .map_selection li {
      display: inline-block;
      padding: 0.3em 1em;
  }
  
  .map_selection a {
      text-decoration: none;
      color: var(--clr-bg-secondary);
  }
}
